body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.tideChart {
  position: absolute;
  left: 0;
  right: 0;
}

div.verticalSpacingForTideChart {
  display: block;
  height: 230px;
  width: 100%;
}

svg {
  padding: 0px 0px 0px 0px;
  background: #bada55;
}